@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .px15 {
        font-size: 0.938rem;
        line-height: auto;
    }
    .px13 {
        font-size: 0.813rem;
        line-height: auto;
    }
    .input {
        @apply px-6 py-3 px15 font-normal text-blue bg-grey-white2 outline outline-1 focus:outline-strong-blue rounded-[0.313rem];
        line-height: auto;
    }
}

@media (max-width: 375px) {
    .sort {
        padding: 0px 0.625rem 0 0.625rem;
        margin: 0;
    }
  };